
  .save{
    margin-left: 8rem;
    margin-top: 2rem;
}



.example-card {

    margin-left: 4%;


  }



  .example-form {
    /* margin-top: 2rem; */
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    border: solid 1px #cecece !important;
    padding-left: 7px;
    margin-top: 15px;
    font-size: 15px;
  }
 .update{
   margin-left: 11rem;
   margin-top: 2rem;
 }
  

