.example-card {
    max-width: 400px;
    margin-left: 34rem;
    margin-top: 11rem;
}
  
  


  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
