.example-card {
    max-width: 400px;
    margin-left: 43rem;
    margin-top: 17rem;
    /* text-align: center; */
}
  
  
.example-header-image {
  background-image:url('file:///F:/chrome/ll.eps');
  background-size: cover;
}

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }


 .loginerror2{
   color: red;
  
   }
   .csdmd{
    min-width: 100%;
    padding: 60px 1rem;
    display: block;
    background: #0275d8;
 
}
.img{
 margin-left: 6rem;
}
.loginerror{
   
  margin-left: 66rem;
  margin-top: 5rem;
 }
 .loginerror1{
   
  margin-left: 62rem;
  margin-top: 5rem;
 }