.example-spacer {
    flex: 1 1 auto;
  }
  .container {

    display: flex;
    flex-direction: column ;
    flex-wrap:wrap ;
    width: 100%;
    justify-content: space-around;
  
  
  
  }


  .btn{
    text-align: right;
    margin-right: 5rem;
}

  table {
    width: 100%;
  }

  .total{
    text-align: right;
    margin-top: 2rem;
    margin-right: 4rem;
  }
  .colorr{
    color:white;
  }
.custom-btn{
  margin-right: 5px !important;
}